@use '../../styles/global.scss' as *;

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;

  &__input {
    width: 0;
    height: 0;
    cursor: pointer;
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $background-light-overlay-30;
    cursor: pointer;
  }

  &__slider::before {
    content: '';
    position: absolute;
    top: 1.7px;
    left: 1px;
    width: 16px;
    height: 16px;
    background-color: $color-white;
    transition: all 0.4s ease;
  }

  &__slider,
  &__slider::before {
    border-radius: 34px;
  }

  &__input:checked + &__slider::before {
    transform: translateX(14px);
  }

  &__input:checked + &__slider {
    background-color: $button-common-color;
  }
}
