$background-default-light: #f3f3f3;
$background-surface-light: #ffffff;
$background-dark: #313037;
$color-text-light: #313037;
$color-text-dark: #ffffff;
$button-gradient-from: #4d0ac7;
$button-gradient-to: #912ef2;
$button-common-color: #6c1bdb;
$color-white: #ffffff;
$color-text-light-transparent: #31303780;
$background-light-overlay-30: #3130374d;
$background-light-overlay-10: #3130371a;
$background-dark-overlay-10: #ffffff1a;
$color-dark-overlay-50: #ffffff80;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-large: 700;
$font-size-default: 16px;
$font-size-medium: 18px;
$font-size-large: 56px;
$font-size-large-medium: 32px;
