$background-light: #f3f3f3;
$background-header-light: #ffffff;
$background-dark: #313037;
$color-text-light: #313037;
$color-text-dark: #ffffff;
$button-gradient-from: #4d0ac7;
$button-gradient-to: #912ef2;
$button-common-color: #6c1bdb;
$color-white: #ffffff;
