$background-light: #f3f3f3;
$background-header-light: #FFFFFF;
$background-dark: #313037;
$color-text-light: #313037;
$color-text-dark: #FFFFFF;
$button-gradient-from: #4d0ac7;
$button-gradient-to: #912ef2;
