@use '../Layout/Layout.scss' as layout;
@use '../../styles/global.scss' as *;

.header-light {
  background-color: $background-surface-light;
}

.header-dark {
  background-color: $background-dark-overlay-10;
}

.header {
  &__body {
    display: flex;
    align-items: center;
    padding: 20px 0;

    @include layout.breakpoint(sm) {
      padding: 18px 0;
    }
  }

  &__logo {
    margin-right: auto;

    @include layout.breakpoint(sm) {
      max-width: 133px;
    }
  }

  &__search-form {
    margin-right: 50px;

    @include layout.breakpoint(md) {
      margin-right: 20px;
      margin-left: 30px;
    }

    @include layout.breakpoint(sm) {
      display: none;
    }
  }

  &__burger {
    display: none;

    @include layout.breakpoint(sm) {
      display: block;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 16px;

  @include layout.breakpoint(sm) {
    display: none;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    background: linear-gradient(to bottom, $button-gradient-from, $button-gradient-to);
    border-radius: 4px;
    width: 48px;
    height: 48px;
    cursor: pointer;
  }
}
